<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>My Calendar</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script>
            $(document).ready(onLoadFunction);
                    
            
            function onLoadFunction() {        
                $('#calendar').fullCalendar({
                    editable:   true,
                    selectable: true,
                    dayClick:   function() {
                        alert('a day has been clicked!');
                    }
//                    events: '/api',
//                    eventDataTransform: function (rawEventData) {
//                        return {
//                            id: rawEventData.id,
//                            title: rawEventData.title,
//                            start: rawEventData.start,
//                            end: rawEventData.end,
//                            url: rawEventData.url
//                        };
//                    }
                });
            }
        </script>
    </head>
    <body>
        <div id="calendar"></div>
    </body>
</html>
